# Системные файлы macOS
.DS_Store

# Виртуальное окружение Python
venv/

# Кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных SQLite
db.sqlite3

# Локализация (если скомпилированные файлы создаются автоматически)
locale/**/LC_MESSAGES/*.mo

# Статические и загруженные файлы (если не часть исходного кода)
products/

# Файлы IDE и редакторов
.vscode/
.idea/

# Лог-файлы и временные файлы
*.log
*.sqlite3
